#page-profile .page-header ~ .container {
    display: flex;
}

aside.card {
    background: var(--color-card-background);
    color: var(--color-title);

    border: 1px solid var(--color-border);
    border-radius: 0.313rem;

    width: 22rem;

    margin-right: 8rem;

    text-align: center;
    padding: 3.875rem 4.625rem;
}

aside img {
    border-radius: 50%;

    border: 0.25rem var(--color-secondary) solid;

    width: 11.25rem;
    height: 11.25rem;

    margin-bottom: 1.5rem;
}

aside h2 {
    font-family: IBM Plex Sans;
    font-weight: 600;
    font-size: 1.75rem;
    line-height: 1.875rem;

    margin-bottom: 3.875rem;
}

aside p {
    margin-bottom: 1.75rem;

    font-family: Inter;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.875rem;
}

main {
    flex: 1;
}

#monthly-budget {
    appearance: none;
}

.theme-container {
    margin-top: 2.5rem;
    padding: 1.5rem 0.5rem 0;
    width: 100%;
    border-top: 1px solid var(--color-border);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.theme-container div:not(:last-child) {
    width: 100%;
    margin-bottom: 1rem;
}

.theme-container div:not(:first-child) {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.theme-container div:not(:first-child) span.active {
    opacity: 0.5;
}

.theme-container input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
    display: none;
}

.theme-container label {
    margin: 0 1rem;
    cursor: pointer;
    text-indent: -9999px;
    width: 55px;
    height: 27px;
    background: var(--color-card-label);
    border-radius: 100px;
    position: relative;
    transition: 0.3s;
}

.theme-container label::after{
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 90px;
    transition: 0.3s;
}

.theme-container input:checked + label {
    background-color: var(--color-secondary);
}

.theme-container input:checked + label::after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

.theme-container label:active:after {
    width: 50%;
}